# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.venv/
venv/
ENV/
env/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/

# Operating System
Thumbs.db
.DS_Store

# Streamlit
.streamlit/
